@page "/"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>


<div class="calculator">
    <div class="display-container">
    </div>
    <div class="buttons-container">
        <div class="row1-buttons button-row">
            <btn class="ac-button calcbutton">AC</btn>
            <btn class="c-button calcbutton">C</btn>
            <btn class="percentage-button calcbutton">%</btn>
            <btn class="division-button calcbutton">/</btn>
        </div>
        <div class="row2-buttons button-row">
            <btn class="number-button calcbutton">1</btn>
            <btn class="number-button calcbutton">2</btn>
            <btn class="number-button calcbutton">3</btn>
            <btn class="multiply-button calcbutton">x</btn>
        </div>
        <div class="row3-buttons button-row">
            <btn class="number-button calcbutton">4</btn>
            <btn class="number-button calcbutton">5</btn>
            <btn class="number-button calcbutton">6</btn>
            <btn class="subtract-button calcbutton">-</btn>
        </div>
        <div class="row4-buttons button-row">
            <btn class="number-button calcbutton">7</btn>
            <btn class="number-button calcbutton">8</btn>
            <btn class="number-button calcbutton">9</btn>
            <btn class="addition-button calcbutton">+</btn>
        </div>
        <div class="row5-buttons button-row">
            <btn class="row5-number-button calcbutton">0</btn>
            <btn class="row5-decimal-button calcbutton">.</btn>
            <btn class="row5-equals-button calcbutton">=</btn>
        </div>
    </div>
</div>



